<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <attachFile>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.AttachFile, SitecoreExtension.ImageCrunch" patch:after="*[@type='Sitecore.Pipelines.Attach.Save,Sitecore.Kernel']" />
      </attachFile>
      <uiUpload>
        <processor mode="on" type="SitecoreExtension.ImageCrunch.Pipelines.Upload, SitecoreExtension.ImageCrunch" patch:before="*[@type='Sitecore.Pipelines.Upload.Done, Sitecore.Kernel']" />
      </uiUpload>
    </processors>
    <commands>
      <command name="ImageCrunch:CrunchMediaItem" type="SitecoreExtension.ImageCrunch.App.Commands.ShrinkImage,SitecoreExtension.ImageCrunch.App" />
      <command name="ImageCrunch:CrunchMediaTree" type="SitecoreExtension.ImageCrunch.App.Commands.ShrinkImageOnTree,SitecoreExtension.ImageCrunch.App" />
    </commands>
  </sitecore>
</configuration>